* {
    margin: 0;
    padding: 0;
}

:root {
    /*variaveis das cores*/
    --branco-principal: #FFFFFF;
    --cinza-secudario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito:#3C92FA;
    --cor-de-fundo: #00030C;
    /*variaveis das fontes*/
    --fonte-principal: 'inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(Imagens/Background.png);
    background-repeat: no-repeat;  /*para que a imagem não seja repetida*/
    background-size: contain; /* Redimensiona a imagem de plano de fundo para garantir que a imagem esteja totalmente visível*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh; /*para que a imagem apareça inteira*/
    display: grid;  /* Todos os filhos diretos do contêiner de grade tornam-se automaticamente itens de grade */
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;  /*para que o botão apareça em baixo da imagem*/
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 5px;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secudario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secudario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex; /*para dispor as imagens lado a lado*/
    justify-content: center; /*para centralisar as imagens*/
    list-style-type: none;   /*para apagar os pontinhos ao lado item da lista*/
    margin: 3em 0;
}

.dispositivos {
    text-align: center; /*para centralisar os textos*/
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
}

.rodape__logo {
    display: block;
    margin: auto;
    padding: 3em 0;
}

.rodape__lista {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.lista__link {
    padding-bottom: 2em;
}

.lista__link__item {
    font-size: 16px;
    color: var(--branco-principal);  
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodape__texto {
    color: var(--cinza-secudario);
    font-size: 14px;
    margin-bottom: 2em;
}

.lista__link {
    list-style-type: none;
}

.lista__link__item {
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1.5em;
}

